/* NAVIGATION ------------------------------------------------------------------*/

.header{
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(8, 165, 81, 0.917);
    width: 100%;
    position: absolute;
    top: 0;
  }
  .logo{
    margin-right: 50px;
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    background-color:rgb(94, 94, 232) ;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 9px;
    padding: 5px;
  
  }
  .navbar{
    display: flex;
    
  }
  .nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
  }
  .nav-item{
  margin-right: 40px;
  padding: 15px
  }
  .nav-item a:hover {
    color: rgb(95, 189, 169);
  }
  
  .title{
  text-shadow: 1px 1px 3px rgb(66, 160, 177);
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 100px;
  align-items: center;
  
  }
  #search{
    width: 200px;
    border-radius: 9px;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
  .main-search{
    border-radius: 10px;
    margin:5px;
   
  }
  .login-btn{
    border-radius: 10px;
    margin:5px;
    display: flex;
    justify-content: flex-end;
  }
  /* video styles ====================================================== */

  .video{
    margin-top: 400px;
    position:relative;
    width: 300px;
    margin-left: 2%;

  }