.form-container{
    width: 800px;
    height: 500px;
    background-color: #80d3e0;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-family: Georgia;
}
.form-group{
font-size: 20px;
width: 80px;
display: flex;
justify-content: center;
margin: auto;


}
.form-input {
    width: 400px;
    height: 25px;
    border-radius: 8px;
}
.submit-button{
    color: rgb(9, 9, 9);
    width: 150px;
    height: 30px;
    border-radius: 8px;
    box-shadow: #5aee52 2px 3px;
}
    
  